<img src="/img/menu/logo.png">
<div class="pull-right">
	<ul>
		<li>
			<a href="#home" ng-click="goTo($event)" ng-class="{ active: isActive('#home')}">Home</a>
		</li>
		<li>
			<a href="#galeria" ng-click="goTo($event)" ng-class="{ active: isActive('#galeria')}">Participantes</a>
		</li>
		<li>
			<a href="#premios" ng-click="goTo($event)" ng-class="{ active: isActive('#premios')}">Premios</a>
		</li>
		<li>
			<a href="#ganadores" ng-click="goTo($event)" ng-class="{ active: isActive('#ganadores')}">Ganadores</a>
		</li>
		<li>
			<a href="#kit" ng-click="goTo($event)" ng-class="{ active: isActive('#kit')}">Kit del Hincha</a>
		</li>
		<li class="user">
			<a href="/">
				<img src="img/menu/user.png">
				Iniciar sesión
			</a>
		</li>
		<li class="redes">
			<a href="/" target="_blank"><img src="img/redes/facebook.png"></a>
			<a href="/" target="_blank"><img src="img/redes/twitter.png"></a>
			<a href="/" target="_blank"><img src="img/redes/youtube.png"></a>
		</li>
	</ul>
</div>