#agegate {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 3000;
	text-align: left;
	background-color: $color-red;

	.logo {
		margin-top: 15px;
		margin-left: 20px;
	}

	@media screen and (max-width: $screen-xs) {
		text-align: center;
		background: url(../img/agegate/movil/bg.jpg);
		background-size: 100% auto;

		.logo {
			margin-left: 0px;
		}

		.backstretch {
			display: none;
		}
	}

	.container {
		margin-top: 7%;

		.title {
			margin-bottom: 40px;
			max-width: 100%;
			width: 620px;
		}

		p {
			color: $color-red;
			margin-bottom: 30px;
			font-size: 18px;
		}

		button {
			margin: 0 10px;
		}

		@media screen and (max-width: $screen-xs) {
			position: absolute;
			bottom: 0px;
			margin-top: 0px;
			width: 100%;

			&:before {
				content: '';
				display: block;
				padding-top: 140%;
			}

			.content {
				position: absolute;
				bottom: 0px;
				left: 0px;
				width: 100%;
				padding: 0 15px 30px;
			}

			.title {
				margin-bottom: 0px;
			}

			p {
				margin-bottom: 10px;
			}

			button {
				margin: 10px 0 0px;
			}
		}
	}
}