#agegate {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 3000;

	.container {
		margin-top: 10%;

		.title {
			margin-bottom: 40px;
			max-width: 100%;
		}

		p {
			color: $color-red;
			margin-bottom: 30px;
			font-size: 18px;
		}

		button {
			margin: 0 10px;
		}

		@media screen and (max-width: $screen-xs) {
			position: absolute;
			bottom: 0px;
			background: url(../img/home/movil/pilucho.png);
			background-size: 100% auto;
			height: 466px;
			max-height: 100%;
			padding-top: 190px;

			.title {
				margin-bottom: 0px;
			}

			p {
				margin-bottom: 20px;
			}

			button {
				margin: 10px 0;
			}
		}
	}
}