#galeria {
	position: relative;
	display: block;
	padding-top: 50px;
	padding-bottom: 100px;
	color: $color-white;

	@media screen and (max-width: $screen-xs) {
		.title {
			margin-bottom: 30px;
		}
	}

	.container {

		.list {
			.row {
				margin-top: 60px;
				padding-bottom: 70px;
				position: relative;

				@media screen and (max-width: $screen-xs) {
					padding-bottom: 0px;
					margin-top: 0px;
				}

				&:before {
					display: block;
					position: absolute;
					bottom: 0px;
					left: 0px;
					width: 100%;
					text-align: center;
					content: url(../img/galeria/separador.png);

					@media screen and (max-width: $screen-xs) {
						display: none;
					}
				}

				&:last-child:before {
					content: '';
				}

				.block {

					.user {
						font-size: 14px;
						vertical-align: middle;
						margin-bottom: 10px;

						img {
							max-width: 32px;
							@include cross-browser(border-radius, 15px);
						}
					}

					.player {
						position: relative;

						&:before {
							content: '';
							display: block;
							padding-top: 100%;
						}

						.content {
							position: absolute;
							top: 0px;
							left: 0px;
							width: 100%;
							height: 100%;

							img.fake {
								position: relative;
								width: 100%;
								height: 100%;
							}

							img.play {
								position: absolute;
								top: 35%;
								left: 0;
								right: 0;
								margin-left: auto;
								margin-right: auto;
								cursor: pointer;

								&.playing {
									display: none;
								}
							}

							.boca {
								width: 60px;
								height: 35.604px;
								background: url(../img/boca.png);
								background-position: 0 0;
								background-size: 100% auto;
								position: absolute;
								top: 51%;
								left: 0;
								right: 0;
								margin-left: auto;
								margin-right: auto;

								&.middle {
									background-position-y: 71.208px;
								}

								&.open {
									background-position-y: 35.604px;
								}
							}
						}
					}

					.share {
						margin-top: 10px;
						margin-bottom: 15px;

						a {
							margin: 0 5px;
							
							img {
								@include cross-browser(transform, rotate(0deg));
								@include cross-browser(transition, transform linear .3s);

								&:hover {
									@include cross-browser(transform, rotate(360deg));
								}
							}
						}
					}

					@media screen and (max-width: $screen-xs) {
						margin-top: 30px;
						padding-bottom: 30px;
						position: relative;

						&:before {
							content: '';
							display: block;
							position: absolute;
							left: 0;
							bottom: 0;
							background: url(../img/galeria/movil/separador.png);
							width: 100%;
							height: 5px;
							background-size: 100%;
						}
					}
				}
			}
		}

		button.ver-mas {
			padding-bottom: 5px;

			img {
				max-width: 66px;
			}

			@media screen and (max-width: $screen-xs) {
				margin-top: 35px;
			}
		}
	}

	.footer {
		position: absolute;
		bottom: 0px;
		left: 0px;
		width: 100%;
		height: 26px;
		background: url(../img/galeria/separador-bottom.png);
	}

	#single-view {
		display: block;
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: url(../img/velo.png);
		z-index: 3000;

		.wrapper {
			max-width: 90%;
			width: 300px;
			position: relative;
			margin: 4% auto 0;

			.content-single {
				width: 100%;
				height: 100%;
				background-color: $color-blue;
				border: 1px solid $color-white;
				@include cross-browser(border-radius, 5px);
				padding: 20px;

				img.btn-close {
					position: absolute;
					top: -13px;
	    			right: -17px;
					cursor: pointer;
					width: 46px;
					@include cross-browser(transform, scale(1));
					@include cross-browser(transition, transform linear .1s);

					&:hover {
						@include cross-browser(transform, scale(1.15));
					}

					&:active, &:focus {
						@include cross-browser(transform, scale(1));
					}
				}

				.block {
					position: relative;
					width: 100%;
					height: 100%;

					.user {
						font-size: 14px;
						vertical-align: middle;
						margin-bottom: 10px;

						img {
							@include cross-browser(border-radius, 50%);
						}
					}

					.player {

						.fake {
							width: 100%;
						}

						img.play {
							position: absolute;
							top: 50%;
							left: 0;
							right: 0;
							margin-left: auto;
							margin-right: auto;
							cursor: pointer;

							&.playing {
								display: none;
							}
						}

						.boca {
							width: 60px;
							height: 35.604px;
							background: url(../img/boca.png);
							background-position: 0 0;
							background-size: 100% auto;
							position: absolute;
							top: 51%;
							left: 0;
							right: 0;
							margin-left: auto;
							margin-right: auto;

							&.middle {
								background-position-y: 71.208px;
							}

							&.open {
								background-position-y: 35.604px;
							}
						}
					}

					.share {
						margin-top: 30px;

						a {
							margin: 0 5px;

							img {
								@include cross-browser(transform, rotate(0deg));
								@include cross-browser(transition, transform linear .3s);

								&:hover {
									@include cross-browser(transform, rotate(360deg));
								}
							}
						}
					}
				}
			}

			@media screen and (max-width: $screen-xs) {
				margin-top: 10%;

				.content-single {
					padding: 20px 10px 20px;
				}
			}
		}
	}
}