#home {
	position: relative;
	display: block;
	padding-top: 130px;

	@media screen and (max-width: $screen-xs) {
		padding-top: 30px;
	}

	.conectar {

		@media screen and (max-width: $screen-xs) {
			background: url(../img/home/movil/pilucho.png);
			width: 100%;
			height: 466px;
			background-size: 100% auto;
			padding-top: 175px;
			margin-top: 30px;

			p {
				color: $color-red;
				max-width: 180px;
				font-size: 15px;
				margin: 0 auto;
			}
		}

		.title {
			margin-bottom: 30px;
			max-width: 100%;
			width: 620px;
		}

		button.facebook {
			margin-bottom: 20px;
		}

		.game {
			button {
				margin: 0 10px;

				@media screen and (max-width: $screen-xs) {
					margin: 0;
					margin-bottom: 10px;
				}
			}
		}
	}

	.footer {
		position: absolute;
		bottom: 0px;
		left: 0px;
		width: 100%;
		height: 26px;
		background: url(../img/home/separador.png);
	}
}