#main-menu {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100%;
	padding: 15px 20px 10px;
	@include cross-browser(transition, background-color linear .3s);

	&.scroll {
		background-color: $color-black-red;
		-webkit-box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.48);
		-moz-box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.48);
		box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.48);
	}

	ul {
		list-style: none;
		margin: 0px;
		padding: 0px;
		vertical-align: middle;

		li {
			display: inline;
			padding: 0 7px;
			font-size: 12px;
			color: $color-white;

			a {
				font-size: 12px;

				&.active {
					text-decoration: underline;
				}
			}

			&.user {
				img {
					margin-right: 5px;
					max-width: 32px;
					@include cross-browser(border-radius, 15px);
				}

				& > * {
					display: inline;
				}

				.data {

					.name {
						cursor: pointer;
						position: relative;
						display: inline;

						.menu {
							position: absolute;
							top: 18px;
							left: 0;
							background-color: $color-white;
							min-width: 100%;
							max-height: 0px;
							overflow: hidden;
							@include cross-browser(border-radius, 5px);
							@include cross-browser(transition, max-height linear .2s);

							ul {
								list-style: none;
								text-align: left;
								margin: 0;
								padding: 0;
								margin: 10px 0px;

								li {

									padding: 3px 0B;

									a {
										color: $color-red;
									}
								}
							}
						}

						&:hover .menu {
							max-height: 40px;
						}
					}
				}
			}

			&.redes a {
				padding: 0 3px;

				img {
					@include cross-browser(transform, rotate(0deg));
					@include cross-browser(transition, transform linear .3s);

					&:hover {
						@include cross-browser(transform, rotate(360deg));
					}
				}
			}
		}
	}
}