#premios {
	position: relative;
	display: block;
	padding-top: 50px;
	padding-bottom: 100px;
	background-color: $color-white;

	.container {
		max-width: 880px;

		@media screen and (max-width: $screen-xs) {
			.row > div:last-child {
				margin-top: 80px;
			}
		}
	}

	img.title {
		margin-bottom: 50px;
	}

	p {
		color: $color-black-red;
		margin: 20px auto 0;
		font-size: 18px;
	}

	.btn-participar {
		margin-top: 70px;
	}

	.footer {
		position: absolute;
		bottom: 0px;
		left: 0px;
		width: 100%;
		height: 26px;
		background: url(../img/premios/separador.png);
	}
}