#record {
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: url(../img/velo.png);
	z-index: 2000;

	.wrapper {
		max-width: 610px;
		position: relative;
		margin: 8% auto 0;

		&:before {
			display: block;
			content: '';
			padding-top: 65.5%;
		}

		@media screen and (max-width: $screen-xs) {
			max-width: 100%;
			width: 100%;
			height: 100%;
			margin: 0px;

			&:before {
				padding-top: 100%;
			}
		}


		.content {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: $color-red;
			border: 1px solid $color-white;
			@include cross-browser(border-radius, 5px);
			padding: 10px;

			img.btn-close {
				position: absolute;
				top: -13px;
    			right: -17px;
				cursor: pointer;
				width: 46px;
				@include cross-browser(transform, scale(1));
				@include cross-browser(transition, transform linear .1s);

				&:hover {
					@include cross-browser(transform, scale(1.15));
				}

				&:active, &:focus {
					@include cross-browser(transform, scale(1));
				}
			}

			.movil-close {
				font-size: 16px;
				padding: 13px 10px;
				position: absolute;
				color: $color-white;
				top: 0;
				left: 0;

				@media screen and (min-width: $screen-xs) {
					display: none;
				}
			}

			.title {
				margin-bottom: 35px;
			}

			.pilucho-wrapper {
				max-width: 282px;
				width: 100%;
				position: relative;
				margin: 0 auto 10px;

				&:before {
					display: block;
					content: '';
					padding-top: 100%;
				}

				.pilucho-content {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: url(../img/record/desktop/pilucho.png);
					background-size: 100% 100%;

					img.play {
						width: 70px;
						margin-top: 37%;
						cursor: pointer;

						@include cross-browser(transform, scale(1));
						@include cross-browser(transition, transform linear .1s);

						&:hover {
							@include cross-browser(transform, scale(1.15));
						}

						&:active, &:focus {
							@include cross-browser(transform, scale(1));
						}
					}

					.movil-text {
						position: absolute;
						top: 0px;
						left: 0px;
						color: $color-white;
						font-size: 15px;
						background-color: $color-blue;
						padding: 10px 30px;

						@media screen and (min-width: $screen-xs) {
							display: none!important;
						}
					}

					.boca {
						width: 60px;
						height: 35.604px;
						background: url(../img/boca.png);
						background-position: 0 0;
						background-size: 100% auto;
						position: absolute;
						top: 44%;
						left: 0;
						right: 0;
						margin-left: auto;
						margin-right: auto;

						&.middle {
							background-position-y: 71.208px;
						}

						&.open {
							background-position-y: 35.604px;
						}
					}
				}
			}

			.tiempo, p {
				color: $color-white;
				font-size: 12px;
			}

			.controles {
				color: $color-white;
				font-size: 12px;

				.grabar {
					margin-bottom: 25px;
					margin-top: 30px;

					.ios-form {
						display: none;
					}
				}

				.btn-stop {
					height: 85px;
					display: inline-block;
					background: url(../img/record/desktop/btn-stop.png);

					.contador {
						font-size: 25px;
						margin-top: 25px;
					}
				}

				img, .btn-stop {
					width: 85px;
					cursor: pointer;

					@include cross-browser(transform, scale(1));
					@include cross-browser(transition, transform linear .1s);

					@media screen and (min-width: $screen-xs) {
						&:hover {
							@include cross-browser(transform, scale(1.15));
						}
					}

					&:active, &:focus {
						@include cross-browser(transform, scale(1));
					}

					&.loader {
						cursor: default;

						&:hover {
							@include cross-browser(transform, scale(1));
						}
					}
				}

				.disabled {
					opacity: .3;

					img {
						cursor: default;

						&:hover {
							@include cross-browser(transform, scale(1));
						}
					}
				}

				@media screen and (max-width: $screen-xs) {
					& > div {
						display: inline-block;
						margin: 0 20px;
					}
				}
			}

			.final {
				padding-top: 40px;

				p {
					margin: 20px 45px 0;
					font-size: 16px;

					&.mas {
						margin-top: 50px;
					}
				}

				.share {
					color: $color-white;
					margin-top: 50px;
				}

				@media screen and (max-width: $screen-xs) {
					padding-top: 50px;

					p {
						margin: 10px 0px 0;
						font-size: 18px;

						&.mas {
							margin-top: 60px;
						}
					}

					.share {
						span {
							display: block;
							width: 100%;
							text-align: center;
							margin-bottom: 15px;
						}

						a {
							margin: 0 10px;
						}
					}
				}
			}

			@media screen and (max-width: $screen-xs) {
				border: none;
				padding-left: 0px;
				padding-right: 0px;
				@include cross-browser(border-radius, 0);

				.row {
					margin-left: 0px;
					margin-right: 0px;
				}

				.movil-ajust {
					padding-left: 0px;
					padding-right: 0px;

					.pilucho-wrapper {
						max-width: initial;
					}

					&.cont {
						position: absolute;
						width: 100%;
						background-color: $color-white;
						bottom: 0px;

						.grabar {
							color: $color-red;
						}

						.guardar {
							color: $color-blue;
						}
					}
				}

				.title {
					margin-bottom: 20px;
				}
			}
		}
	}
}