html, body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; }

body {
  background: url(../img/bg.png);
  font-family: 'futuramedium'; }
  body #content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto; }
  body a {
    color: #fff; }
    body a:hover, body a:active, body a:focus {
      color: #fff;
      text-decoration: underline; }
    body a:focus {
      text-decoration: none; }
  body p {
    color: #fff; }

.button, a.button {
  font-family: 'freshmannormal';
  font-size: 15px;
  color: #fff;
  background-color: #0978BE;
  border: 1px solid #fff;
  padding: 10px 50px;
  -ms-box-shadow: 0px 2px 12px -1px rgba(0, 0, 0, 0.67);
  -o-box-shadow: 0px 2px 12px -1px rgba(0, 0, 0, 0.67);
  -moz-box-shadow: 0px 2px 12px -1px rgba(0, 0, 0, 0.67);
  -webkit-box-shadow: 0px 2px 12px -1px rgba(0, 0, 0, 0.67);
  box-shadow: 0px 2px 12px -1px rgba(0, 0, 0, 0.67);
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -ms-transition: transform linear 0.1s;
  -o-transition: transform linear 0.1s;
  -moz-transition: transform linear 0.1s;
  -webkit-transition: transform linear 0.1s;
  transition: transform linear 0.1s;
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1); }
  .button.red, a.button.red {
    background-color: #E2383C; }
  .button.white, a.button.white {
    background-color: #fff;
    color: #E2383C; }
  .button i, a.button i {
    font-size: 15px;
    margin-right: 5px; }
  .button.facebook, a.button.facebook {
    background-color: #3E549C;
    border: none;
    font-family: 'futuramedium'; }
  @media screen and (max-width: 580px) {
    .button, a.button {
      width: 90%; } }
  @media screen and (min-width: 580px) {
    .button:hover, .button.active, a.button:hover, a.button.active {
      -ms-transform: scale(1.15);
      -o-transform: scale(1.15);
      -moz-transform: scale(1.15);
      -webkit-transform: scale(1.15);
      transform: scale(1.15);
      outline: none; }
    .button:active, .button:focus, a.button:active, a.button:focus {
      -ms-transform: scale(1);
      -o-transform: scale(1);
      -moz-transform: scale(1);
      -webkit-transform: scale(1);
      transform: scale(1);
      outline: none; } }

#main-menu {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 20px 10px;
  -ms-transition: background-color linear 0.3s;
  -o-transition: background-color linear 0.3s;
  -moz-transition: background-color linear 0.3s;
  -webkit-transition: background-color linear 0.3s;
  transition: background-color linear 0.3s; }
  #main-menu .logo {
    position: relative;
    z-index: 1020; }
  @media screen and (max-width: 580px) {
    #main-menu {
      text-align: center; } }
  #main-menu.scroll {
    background-color: #AC2B3E;
    -ms-box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.48);
    -o-box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.48);
    -webkit-box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.48);
    box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.48); }
  #main-menu ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    vertical-align: middle; }
    #main-menu ul li {
      display: inline;
      padding: 0 7px;
      font-size: 12px;
      color: #fff; }
      #main-menu ul li a {
        font-size: 12px; }
        #main-menu ul li a.active {
          text-decoration: underline; }
      #main-menu ul li.user img {
        margin-right: 5px;
        max-width: 32px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px;
        border-radius: 15px; }
      #main-menu ul li.user > * {
        display: inline; }
      #main-menu ul li.user .data .name {
        cursor: pointer;
        position: relative;
        display: inline; }
        #main-menu ul li.user .data .name .menu {
          position: absolute;
          top: 18px;
          left: 0;
          background-color: #fff;
          min-width: 100%;
          max-height: 0px;
          overflow: hidden;
          -ms-border-radius: 5px;
          -o-border-radius: 5px;
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px;
          border-radius: 5px;
          -ms-transition: max-height linear 0.2s;
          -o-transition: max-height linear 0.2s;
          -moz-transition: max-height linear 0.2s;
          -webkit-transition: max-height linear 0.2s;
          transition: max-height linear 0.2s; }
          #main-menu ul li.user .data .name .menu ul {
            list-style: none;
            text-align: left;
            margin: 0;
            padding: 0;
            margin: 10px 0px; }
            #main-menu ul li.user .data .name .menu ul li {
              padding: 3px 0B; }
              #main-menu ul li.user .data .name .menu ul li a {
                color: #E2383C; }
        #main-menu ul li.user .data .name:hover .menu {
          max-height: 40px;
          -ms-box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.48);
          -o-box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.48);
          -moz-box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.48);
          -webkit-box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.48);
          box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.48); }
      #main-menu ul li.redes a {
        padding: 0 3px; }
        #main-menu ul li.redes a img {
          -ms-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
          -ms-transition: transform linear 0.3s;
          -o-transition: transform linear 0.3s;
          -moz-transition: transform linear 0.3s;
          -webkit-transition: transform linear 0.3s;
          transition: transform linear 0.3s; }
          #main-menu ul li.redes a img:hover {
            -ms-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg); }
  #main-menu .menu-movil {
    position: absolute;
    top: 15px;
    left: 10px;
    cursor: pointer;
    width: 34px;
    z-index: 1030; }
    @media screen and (min-width: 580px) {
      #main-menu .menu-movil {
        display: none; } }
  #main-menu .menu-movil-content {
    position: fixed;
    top: 0;
    left: -100%;
    background-color: #AC2B3E;
    width: 100%;
    height: 100%;
    -ms-transition: left linear 0.2s;
    -o-transition: left linear 0.2s;
    -moz-transition: left linear 0.2s;
    -webkit-transition: left linear 0.2s;
    transition: left linear 0.2s; }
    #main-menu .menu-movil-content.open {
      left: 0; }
      @media screen and (min-width: 580px) {
        #main-menu .menu-movil-content.open {
          left: -100%; } }
    #main-menu .menu-movil-content .container {
      padding-top: 90px;
      max-width: 80%; }
      #main-menu .menu-movil-content .container .row {
        margin-bottom: 30px; }
        #main-menu .menu-movil-content .container .row a img {
          width: 57px;
          display: block;
          margin: 0 auto 5px; }
          #main-menu .menu-movil-content .container .row a img.user {
            -ms-border-radius: 30px;
            -o-border-radius: 30px;
            -moz-border-radius: 30px;
            -webkit-border-radius: 30px;
            border-radius: 30px; }
    #main-menu .menu-movil-content .redes {
      position: absolute;
      width: 100%;
      bottom: 15px;
      left: 0; }
      #main-menu .menu-movil-content .redes a {
        margin: 0 10px; }

#agegate {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3000;
  text-align: left;
  background-color: #E2383C; }
  #agegate .logo {
    margin-top: 15px;
    margin-left: 20px; }
  @media screen and (max-width: 580px) {
    #agegate {
      text-align: center;
      background: url(../img/agegate/movil/bg.jpg);
      background-size: 100% auto; }
      #agegate .logo {
        margin-left: 0px; }
      #agegate .backstretch {
        display: none; } }
  #agegate .container {
    margin-top: 7%; }
    #agegate .container .title {
      margin-bottom: 40px;
      max-width: 100%;
      width: 620px; }
    #agegate .container p {
      color: #E2383C;
      margin-bottom: 30px;
      font-size: 18px; }
    #agegate .container button {
      margin: 0 10px; }
    @media screen and (max-width: 580px) {
      #agegate .container {
        position: absolute;
        bottom: 0px;
        margin-top: 0px;
        width: 100%; }
        #agegate .container:before {
          content: '';
          display: block;
          padding-top: 140%; }
        #agegate .container .content {
          position: absolute;
          bottom: 0px;
          left: 0px;
          width: 100%;
          padding: 0 15px 30px; }
        #agegate .container .title {
          margin-bottom: 0px; }
        #agegate .container p {
          margin-bottom: 10px; }
        #agegate .container button {
          margin: 10px 0 0px; } }

#record {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../img/velo.png);
  z-index: 2000; }
  #record .wrapper {
    max-width: 610px;
    position: relative;
    margin: 8% auto 0; }
    #record .wrapper:before {
      display: block;
      content: '';
      padding-top: 65.5%; }
    @media screen and (max-width: 580px) {
      #record .wrapper {
        max-width: 100%;
        width: 100%;
        height: 100%;
        margin: 0px; }
        #record .wrapper:before {
          padding-top: 100%; } }
    #record .wrapper .content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #E2383C;
      border: 1px solid #fff;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      padding: 10px; }
      #record .wrapper .content img.btn-close {
        position: absolute;
        top: -13px;
        right: -17px;
        cursor: pointer;
        width: 46px;
        -ms-transform: scale(1);
        -o-transform: scale(1);
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
        -ms-transition: transform linear 0.1s;
        -o-transition: transform linear 0.1s;
        -moz-transition: transform linear 0.1s;
        -webkit-transition: transform linear 0.1s;
        transition: transform linear 0.1s; }
        #record .wrapper .content img.btn-close:hover {
          -ms-transform: scale(1.15);
          -o-transform: scale(1.15);
          -moz-transform: scale(1.15);
          -webkit-transform: scale(1.15);
          transform: scale(1.15); }
        #record .wrapper .content img.btn-close:active, #record .wrapper .content img.btn-close:focus {
          -ms-transform: scale(1);
          -o-transform: scale(1);
          -moz-transform: scale(1);
          -webkit-transform: scale(1);
          transform: scale(1); }
      #record .wrapper .content .movil-close {
        font-size: 16px;
        padding: 13px 10px;
        position: absolute;
        color: #fff;
        top: 0;
        left: 0; }
        @media screen and (min-width: 580px) {
          #record .wrapper .content .movil-close {
            display: none; } }
      #record .wrapper .content .title {
        margin-bottom: 35px; }
      #record .wrapper .content .pilucho-wrapper {
        max-width: 282px;
        width: 100%;
        position: relative;
        margin: 0 auto 10px; }
        #record .wrapper .content .pilucho-wrapper:before {
          display: block;
          content: '';
          padding-top: 100%; }
        #record .wrapper .content .pilucho-wrapper .pilucho-content {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: url(../img/record/desktop/pilucho.png);
          background-size: 100% 100%; }
          @media screen and (max-width: 580px) {
            #record .wrapper .content .pilucho-wrapper .pilucho-content {
              background: url(../img/galeria/movil/pilucho.jpg);
              background-size: 100% 100%; }
              #record .wrapper .content .pilucho-wrapper .pilucho-content .movil-gif {
                width: 100%; } }
          #record .wrapper .content .pilucho-wrapper .pilucho-content img.play {
            width: 70px;
            margin-top: 37%;
            cursor: pointer;
            -ms-transform: scale(1);
            -o-transform: scale(1);
            -moz-transform: scale(1);
            -webkit-transform: scale(1);
            transform: scale(1);
            -ms-transition: transform linear 0.1s;
            -o-transition: transform linear 0.1s;
            -moz-transition: transform linear 0.1s;
            -webkit-transition: transform linear 0.1s;
            transition: transform linear 0.1s; }
            #record .wrapper .content .pilucho-wrapper .pilucho-content img.play:hover {
              -ms-transform: scale(1.15);
              -o-transform: scale(1.15);
              -moz-transform: scale(1.15);
              -webkit-transform: scale(1.15);
              transform: scale(1.15); }
            #record .wrapper .content .pilucho-wrapper .pilucho-content img.play:active, #record .wrapper .content .pilucho-wrapper .pilucho-content img.play:focus {
              -ms-transform: scale(1);
              -o-transform: scale(1);
              -moz-transform: scale(1);
              -webkit-transform: scale(1);
              transform: scale(1); }
          #record .wrapper .content .pilucho-wrapper .pilucho-content .movil-text {
            position: absolute;
            top: 0px;
            left: 0px;
            color: #fff;
            font-size: 15px;
            background-color: #0978BE;
            padding: 10px 30px; }
            @media screen and (min-width: 580px) {
              #record .wrapper .content .pilucho-wrapper .pilucho-content .movil-text {
                display: none !important; } }
          #record .wrapper .content .pilucho-wrapper .pilucho-content .boca {
            width: 60px;
            height: 35.604px;
            background: url(../img/boca.png);
            background-position: 0 0;
            background-size: 100% auto;
            position: absolute;
            top: 44%;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto; }
            #record .wrapper .content .pilucho-wrapper .pilucho-content .boca.middle {
              background-position-y: 71.208px; }
            #record .wrapper .content .pilucho-wrapper .pilucho-content .boca.open {
              background-position-y: 35.604px; }
      #record .wrapper .content .tiempo, #record .wrapper .content p {
        color: #fff;
        font-size: 12px; }
      #record .wrapper .content .controles {
        color: #fff;
        font-size: 12px; }
        #record .wrapper .content .controles .grabar {
          margin-bottom: 25px;
          margin-top: 30px; }
          #record .wrapper .content .controles .grabar .ios-form {
            display: none; }
        #record .wrapper .content .controles .btn-stop {
          height: 85px;
          display: inline-block;
          background: url(../img/record/desktop/btn-stop.png); }
          #record .wrapper .content .controles .btn-stop .contador {
            font-size: 25px;
            margin-top: 25px; }
        #record .wrapper .content .controles img, #record .wrapper .content .controles .btn-stop {
          width: 85px;
          cursor: pointer;
          -ms-transform: scale(1);
          -o-transform: scale(1);
          -moz-transform: scale(1);
          -webkit-transform: scale(1);
          transform: scale(1);
          -ms-transition: transform linear 0.1s;
          -o-transition: transform linear 0.1s;
          -moz-transition: transform linear 0.1s;
          -webkit-transition: transform linear 0.1s;
          transition: transform linear 0.1s; }
          @media screen and (min-width: 580px) {
            #record .wrapper .content .controles img:hover, #record .wrapper .content .controles .btn-stop:hover {
              -ms-transform: scale(1.15);
              -o-transform: scale(1.15);
              -moz-transform: scale(1.15);
              -webkit-transform: scale(1.15);
              transform: scale(1.15); } }
          #record .wrapper .content .controles img:active, #record .wrapper .content .controles img:focus, #record .wrapper .content .controles .btn-stop:active, #record .wrapper .content .controles .btn-stop:focus {
            -ms-transform: scale(1);
            -o-transform: scale(1);
            -moz-transform: scale(1);
            -webkit-transform: scale(1);
            transform: scale(1); }
          #record .wrapper .content .controles img.loader, #record .wrapper .content .controles .btn-stop.loader {
            cursor: default; }
            #record .wrapper .content .controles img.loader:hover, #record .wrapper .content .controles .btn-stop.loader:hover {
              -ms-transform: scale(1);
              -o-transform: scale(1);
              -moz-transform: scale(1);
              -webkit-transform: scale(1);
              transform: scale(1); }
            @media screen and (min-width: 580px) {
              #record .wrapper .content .controles img.loader.movil, #record .wrapper .content .controles .btn-stop.loader.movil {
                display: none; } }
        #record .wrapper .content .controles .disabled {
          opacity: .3; }
          #record .wrapper .content .controles .disabled img {
            cursor: default; }
            #record .wrapper .content .controles .disabled img:hover {
              -ms-transform: scale(1);
              -o-transform: scale(1);
              -moz-transform: scale(1);
              -webkit-transform: scale(1);
              transform: scale(1); }
        @media screen and (max-width: 580px) {
          #record .wrapper .content .controles > div {
            display: inline-block;
            margin: 0 20px; } }
      #record .wrapper .content .final {
        padding-top: 40px; }
        #record .wrapper .content .final p {
          margin: 20px 45px 30px;
          font-size: 16px; }
          #record .wrapper .content .final p.mas {
            margin-top: 50px; }
        #record .wrapper .content .final .buttons button {
          margin: 0px 10px; }
        #record .wrapper .content .final .share {
          color: #fff;
          margin-top: 50px; }
        @media screen and (max-width: 580px) {
          #record .wrapper .content .final {
            padding-top: 50px; }
            #record .wrapper .content .final p {
              margin: 10px 0px 0;
              font-size: 18px; }
              #record .wrapper .content .final p.mas {
                margin-top: 50px;
                margin-bottom: 30px; }
            #record .wrapper .content .final .buttons button {
              width: 90%;
              margin: 10px 0px; }
            #record .wrapper .content .final .share span {
              display: block;
              width: 100%;
              text-align: center;
              margin-bottom: 15px; }
            #record .wrapper .content .final .share a {
              margin: 0 10px; } }
      @media screen and (max-width: 580px) {
        #record .wrapper .content {
          border: none;
          padding-left: 0px;
          padding-right: 0px;
          -ms-border-radius: 0;
          -o-border-radius: 0;
          -moz-border-radius: 0;
          -webkit-border-radius: 0;
          border-radius: 0; }
          #record .wrapper .content .row {
            margin-left: 0px;
            margin-right: 0px; }
          #record .wrapper .content .movil-ajust {
            padding-left: 0px;
            padding-right: 0px; }
            #record .wrapper .content .movil-ajust .pilucho-wrapper {
              max-width: initial; }
            #record .wrapper .content .movil-ajust.cont {
              position: absolute;
              width: 100%;
              background-color: #fff;
              bottom: 0px; }
              #record .wrapper .content .movil-ajust.cont .grabar {
                color: #E2383C; }
                #record .wrapper .content .movil-ajust.cont .grabar .btn-stop .contador {
                  color: #fff; }
              #record .wrapper .content .movil-ajust.cont .guardar {
                color: #0978BE; }
          #record .wrapper .content .title {
            margin-bottom: 20px; }
          #record .wrapper .content .controles .grabar {
            margin-bottom: 10px;
            margin-top: 15px; } }

#home {
  position: relative;
  display: block;
  padding-top: 130px; }
  @media screen and (max-width: 580px) {
    #home {
      padding-top: 30px; } }
  @media screen and (max-width: 580px) {
    #home .conectar {
      background: url(../img/home/movil/pilucho.png);
      width: 100%;
      height: 466px;
      background-size: 100% auto;
      padding-top: 175px;
      margin-top: 30px; }
      #home .conectar p {
        color: #E2383C;
        max-width: 180px;
        font-size: 15px;
        margin: 0 auto; } }
  #home .conectar .title {
    margin-bottom: 30px;
    max-width: 100%;
    width: 620px; }
  #home .conectar button.facebook {
    margin-bottom: 20px; }
  #home .conectar .game button {
    margin: 0 10px; }
    @media screen and (max-width: 580px) {
      #home .conectar .game button {
        margin: 0;
        margin-bottom: 10px; } }
  #home .footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 26px;
    background: url(../img/home/separador.png); }

#galeria {
  position: relative;
  display: block;
  padding-top: 50px;
  padding-bottom: 100px;
  color: #fff; }
  @media screen and (max-width: 580px) {
    #galeria .title {
      margin-bottom: 30px; } }
  #galeria .container .list .row {
    margin-top: 60px;
    padding-bottom: 70px;
    position: relative; }
    @media screen and (max-width: 580px) {
      #galeria .container .list .row {
        padding-bottom: 0px;
        margin-top: 0px; } }
    #galeria .container .list .row:before {
      display: block;
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      text-align: center;
      content: url(../img/galeria/separador.png); }
      @media screen and (max-width: 580px) {
        #galeria .container .list .row:before {
          display: none; } }
    #galeria .container .list .row:last-child:before {
      content: ''; }
    #galeria .container .list .row .block .user {
      font-size: 14px;
      vertical-align: middle;
      margin-bottom: 10px; }
      #galeria .container .list .row .block .user img {
        max-width: 32px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px;
        border-radius: 15px; }
    #galeria .container .list .row .block .player {
      position: relative; }
      #galeria .container .list .row .block .player:before {
        content: '';
        display: block;
        padding-top: 100%; }
      #galeria .container .list .row .block .player .content {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%; }
        #galeria .container .list .row .block .player .content img.fake {
          position: relative;
          width: 100%;
          height: 100%; }
        #galeria .container .list .row .block .player .content img.play {
          position: absolute;
          top: 35%;
          left: 0;
          right: 0;
          margin-left: auto;
          margin-right: auto;
          cursor: pointer; }
          #galeria .container .list .row .block .player .content img.play.playing {
            display: none; }
        #galeria .container .list .row .block .player .content .boca {
          width: 60px;
          height: 35.604px;
          background: url(../img/boca.png);
          background-position: 0 0;
          background-size: 100% auto;
          position: absolute;
          top: 51%;
          left: 0;
          right: 0;
          margin-left: auto;
          margin-right: auto; }
          #galeria .container .list .row .block .player .content .boca.middle {
            background-position-y: 71.208px; }
          #galeria .container .list .row .block .player .content .boca.open {
            background-position-y: 35.604px; }
    #galeria .container .list .row .block .share {
      margin-top: 10px;
      margin-bottom: 15px; }
      #galeria .container .list .row .block .share a {
        margin: 0 5px; }
        #galeria .container .list .row .block .share a img {
          -ms-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
          -ms-transition: transform linear 0.3s;
          -o-transition: transform linear 0.3s;
          -moz-transition: transform linear 0.3s;
          -webkit-transition: transform linear 0.3s;
          transition: transform linear 0.3s; }
          #galeria .container .list .row .block .share a img:hover {
            -ms-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg); }
    @media screen and (max-width: 580px) {
      #galeria .container .list .row .block {
        margin-top: 30px;
        padding-bottom: 30px;
        position: relative; }
        #galeria .container .list .row .block:before {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          bottom: 0;
          background: url(../img/galeria/movil/separador.png);
          width: 100%;
          height: 5px;
          background-size: 100%; } }
  #galeria .container button.ver-mas {
    padding-bottom: 5px; }
    #galeria .container button.ver-mas img {
      max-width: 66px; }
    @media screen and (max-width: 580px) {
      #galeria .container button.ver-mas {
        margin-top: 35px; } }
  #galeria .footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 26px;
    background: url(../img/galeria/separador-bottom.png); }

#premios {
  position: relative;
  display: block;
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: #fff; }
  #premios .container {
    max-width: 680px; }
    @media screen and (max-width: 580px) {
      #premios .container .row > div:last-child {
        margin-top: 80px; } }
  #premios img.title {
    margin-bottom: 50px; }
  #premios p {
    color: #AC2B3E;
    max-width: 200px;
    margin: 20px auto 0; }
  #premios .footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 26px;
    background: url(../img/premios/separador.png); }

#ganadores {
  position: relative;
  display: block;
  padding-top: 50px;
  padding-bottom: 100px;
  background: url(../img/ganadores/bg.png); }
  #ganadores .title-semanal {
    display: none;
    margin: 40px auto 30px; }
    @media screen and (max-width: 580px) {
      #ganadores .title-semanal {
        display: block; } }
  #ganadores .packs {
    width: 620px;
    height: 194px;
    margin: 50px auto 0;
    background: url(../img/ganadores/bg-packs.png); }
    #ganadores .packs .content {
      padding-top: 43px;
      margin-left: 3px;
      margin-right: 3px;
      color: #fff;
      position: relative; }
      #ganadores .packs .content .list {
        position: relative;
        width: 100%;
        min-height: 135px;
        overflow: hidden; }
        #ganadores .packs .content .list ul {
          list-style: none;
          margin: 0;
          padding: 0;
          -ms-transition: margin-left linear 0.3s;
          -o-transition: margin-left linear 0.3s;
          -moz-transition: margin-left linear 0.3s;
          -webkit-transition: margin-left linear 0.3s;
          transition: margin-left linear 0.3s; }
          #ganadores .packs .content .list ul li {
            float: left; }
            #ganadores .packs .content .list ul li .sorteo {
              margin-top: 10px;
              margin-bottom: 20px; }
        #ganadores .packs .content .list .controles {
          position: absolute;
          width: 80%;
          margin: 0 auto;
          left: 0;
          right: 0;
          top: 10%;
          min-height: 80px; }
          #ganadores .packs .content .list .controles img {
            opacity: .3;
            -ms-transition: opacity linear 0.2s;
            -o-transition: opacity linear 0.2s;
            -moz-transition: opacity linear 0.2s;
            -webkit-transition: opacity linear 0.2s;
            transition: opacity linear 0.2s; }
            #ganadores .packs .content .list .controles img.active {
              opacity: 1;
              cursor: pointer;
              -ms-transition: transform linear 0.1s;
              -o-transition: transform linear 0.1s;
              -moz-transition: transform linear 0.1s;
              -webkit-transition: transform linear 0.1s;
              transition: transform linear 0.1s;
              -ms-transform: scale(1);
              -o-transform: scale(1);
              -moz-transform: scale(1);
              -webkit-transform: scale(1);
              transform: scale(1); }
              #ganadores .packs .content .list .controles img.active:hover, #ganadores .packs .content .list .controles img.active:focus {
                -ms-transform: scale(1.15);
                -o-transform: scale(1.15);
                -moz-transform: scale(1.15);
                -webkit-transform: scale(1.15);
                transform: scale(1.15); }
              #ganadores .packs .content .list .controles img.active:active {
                -ms-transform: scale(1);
                -o-transform: scale(1);
                -moz-transform: scale(1);
                -webkit-transform: scale(1);
                transform: scale(1); }
    #ganadores .packs.no-winners p {
      font-size: 25px;
      padding-top: 65px;
      margin: 0 35px; }
    @media screen and (max-width: 580px) {
      #ganadores .packs.no-winners {
        background: url(../img/ganadores/movil/bg-packs.png);
        width: 310px;
        height: 254px;
        margin: 0 auto; }
        #ganadores .packs.no-winners p {
          font-size: 25px;
          padding-top: 47px;
          margin: 0 10px; } }
  #ganadores .super {
    width: 620px;
    height: 194px;
    margin: 80px auto 0;
    background: url(../img/ganadores/bg-super.png); }
    #ganadores .super .content {
      padding-top: 43px;
      margin-left: 3px;
      margin-right: 3px;
      position: relative; }
      #ganadores .super .content p {
        color: #AC2B3E;
        font-size: 25px;
        max-width: 380px;
        margin: 30px auto 0; }
    @media screen and (max-width: 580px) {
      #ganadores .super {
        background: url(../img/ganadores/movil/bg-super.png);
        width: 310px;
        height: 189px; }
        #ganadores .super .content p {
          margin-top: 15px; } }
  #ganadores .footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 26px;
    background: url(../img/ganadores/separador.png); }

#kit {
  position: relative;
  display: block;
  padding-top: 50px;
  padding-bottom: 77px;
  background: url(../img/kit/challa.png); }
  #kit .container {
    max-width: 915px; }
  #kit p {
    color: #fff;
    max-width: 430px;
    margin: 0 auto;
    left: 0;
    right: 0; }
  #kit .row {
    margin-bottom: 50px; }
  @media screen and (max-width: 580px) {
    #kit p {
      font-size: 18px;
      margin-top: 40px; }
    #kit .row {
      margin-bottom: 0px; }
      #kit .row > div {
        margin-bottom: 60px; } }

#footer {
  position: relative;
  display: block;
  width: 100%;
  height: 170px;
  margin-top: -77px;
  background: url(../img/footer/hinchas.png); }
  #footer .content {
    color: #fff;
    padding-top: 110px;
    position: relative;
    font-size: 12px; }
    #footer .content span {
      margin-left: 20px; }
      @media screen and (max-width: 580px) {
        #footer .content span {
          margin: 0 auto;
          font-size: 11px; } }
    #footer .content .bases {
      position: absolute;
      bottom: 0px;
      right: 0px; }
      #footer .content .bases a {
        color: #FAE455;
        font-size: 12px; }
      @media screen and (max-width: 580px) {
        #footer .content .bases {
          position: relative;
          margin-top: 10px; } }
    #footer .content > * {
      vertical-align: bottom;
      line-height: 1; }
      @media screen and (max-width: 580px) {
        #footer .content > * {
          display: block;
          margin: 0 auto;
          text-align: center;
          margin-bottom: 10px; } }
    @media screen and (max-width: 580px) {
      #footer .content {
        padding-top: 75px; } }

/*# sourceMappingURL=style.css.map */