@import "config";


html, body {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	background: url(../img/bg.png);
	font-family: 'futuramedium';

	#content {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		overflow: auto;
	}

	a {
		color: $color-white;

		&:hover, &:active, &:focus {
			color: $color-white;
			text-decoration: underline;
		}

		&:focus {
			text-decoration: none;
		}
	}

	p {
		color: $color-white;
	}
}

.button, a.button {
	font-family: 'freshmannormal';
	font-size: 15px;
	color: $color-white;
	background-color: #0978BE;
	border: 1px solid $color-white;
	padding: 5px 35px;
	@include cross-browser(box-shadow, 0px 2px 12px -1px rgba(0,0,0,0.67));
	@include cross-browser(border-radius, 20px);
	@include cross-browser(transition, transform linear .1s);
	@include cross-browser(transform, scale(1));

	&.red {
		background-color: $color-red;
	}

	i {
		font-size: 15px;
		margin-right: 5px;
	}

	&.facebook {
		background-color: #3E549C;
		border: none;
		font-family: 'futuramedium';
	}

	&:hover, &:focus {
		@include cross-browser(transform, scale(1.15));
		outline: none;
	}

	&:active {
		@include cross-browser(transform, scale(1));
		outline: none;
	}
}

@import "menu";
@import "home";
@import "galeria";
@import "premios";
@import "ganadores";
@import "kit";
@import "footer";