<img src="img/ganadores/title.png">

<img src="img/ganadores/movil/title.png" class="title-semanal">

<div class="packs hidden-xs">
	<div class="content">
		<div class="list" ng-init="setStyle()">
			<ul ng-style="{width:elementWidth * sorteos.length, 'margin-left': elementWidth * indexList * -1}">
				<li ng-repeat="sorteo in sorteos" ng-style="elementStyle">
					<div class="sorteo">{{sorteo.title}}</div>
					<div class="user">
						<img ng-src="{{sorteo.ganador.avatar}}">
						<span class="name">{{sorteo.ganador.name}}</span>
					</div>
				</li>
			</ul>
			<div class="controles text-left">
				<img src="img/ganadores/arrow-left.png" ng-class="{active: sorteos.length > 1}" ng-click="indexList=(indexList > 0) ? indexList-1 : sorteos.length-1">
				<img src="img/ganadores/arrow-right.png" class="pull-right" ng-class="{active: sorteos.length > 1}" ng-click="indexList=(indexList < sorteos.length-1) ? indexList+1 : 0">
			</div>
		</div>
	</div>
</div>

<div class="packs-movil visible-xs">
	<ul>
		<li ng-repeat="sorteo in sorteos">
			<div class="sorteo">{{sorteo.title}} <i class="fa fa-plus pull-right" aria-hidden="true" ng-click="openWinner($event);"></i></div>
			<div class="user">
				<img ng-src="{{sorteo.ganador.avatar}}">
				<span class="name">{{sorteo.ganador.name}}</span>
			</div>
		</li>
	</ul>
</div>

<!-- <div class="packs no-winners">
	<p>
		El Miercoles 8 de Junio se eligirá el primer ganador de uno de los Pack del Hincha
	</p>
</div> -->

<div class="super">
	<div class="content">
		<p class="sorteo">
			SORTEO: 24/06/2016
		</p>
		<p>
			<img src="//graph.facebook.com/252130031817860/picture?type=square">
			<span class="name">Juan Zamora</span>
		</p>
	</div>
</div>
<div class="footer"></div>