<img src="img/galeria/title.png" class="title">

<div class="container">
	<div class="list">
		<div class="row" ng-repeat="(mainindex, records) in listGallery">
			<div class="col-sm-3" ng-repeat="(recordindex, record) in records">
				<div class="block">
					<div class="user text-left">
						<img ng-src="//graph.facebook.com/{{record.fb_id}}/picture?type=square">
						<span class="name">{{record.name}}</span>
					</div>
					<div class="player">
						<div class="content">
							<img src="img/galeria/player.png" class="fake">
							<div class="boca"></div>
							<img src="img/galeria/play.png" class="play" ng-click="playRecord($event, mainindex, recordindex);">
						</div>
					</div>
					<div class="share">
						<a href="#" ng-click="shareFB();"><img src="img/galeria/facebook.png"></a>
						<a href="#" ng-click="shareTW();"><img src="img/galeria/twitter.png"></a>
						<a href="#" ng-click="shareFB();"><img src="img/galeria/link.png"></a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<button class="button ver-mas" ng-click="getMore()" ng-show="showMore"><img src="img/galeria/mas.png"></button>
		</div>
	</div>
	
</div>
<div class="footer"></div>